# This is a basic workflow to help you get started with Actions

name: CI

on:
  push:
    branches: [ master ]
  schedule:
    - cron: '0 0 * * *'  

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    if: "!contains(github.event.head_commit.message, '[SKIP CI]')"
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    # Runs a set of commands using the runners shell
    - name: Generate static page
      run: |
        docker run -v $GITHUB_WORKSPACE:/build_dir markadams/chromium-xvfb-py3:latest-onbuild python3 /build_dir/script.py
        cat hacktivity
        
    - name: Check for new reports
      run: |
        pip install wheel
        pip install bs4
        python hackerone.py

    - name: Commit files
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "Github action"
        git add data.txt
        git commit -F commit-message.txt
    
    - name: Push files
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.KEY }}