# This is a basic workflow to help you get started with Actions

name: CI

on:
  push:
    branches: [ master ]
  schedule:
    - cron: '0 0 * * *'  

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  check:
    if: "!contains(github.event.head_commit.message, '[SKIP CI]')"
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    outputs:
      commit: ${{ steps.s.outputs.commit }}
      hacktivity: ${{ steps.s.outputs.hacktivity }}

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    # Runs a set of commands using the runners shell
    - name: Generate static page
      run: |
        docker run -v $GITHUB_WORKSPACE:/build_dir markadams/chromium-xvfb-py3:latest-onbuild python3 /build_dir/script.py
        cat hacktivity
        
    - name: Check for new reports
      id: s
      env:
        FILE: ${{ steps.s.outputs.hacktivity }}
      run: |
        pip install wheel
        pip install bs4
        python hackerone.py
        echo "::set-output name=commit::$(cat commit-message.txt)"
        echo "::set-output name=hacktivity::$(cat hacktivity_old)"
        echo $FILE
    
    - name: Upload artifact
    - uses: actions/upload-artifact@master
      with:
        name: hacktivity_old
        path: ./hacktivity_old


  commit:
    needs: check
    runs-on: ubuntu-latest
    if: needs.check.outputs.commit != 'N'
    steps:

    - uses: actions/download-artifact@master
    - name: Download artifact
      with:
        name: hacktivity_old
        path: ./hacktivity_old

    - uses: actions/checkout@v2
    - name: Commit files
      env:
        MESSAGE: ${{ needs.check.outputs.commit }}
        FILE: ${{ needs.check.outputs.hacktivity }}
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "Github action"
        git add hacktivity_old
        git commit -m "$MESSAGE"
    
    - name: Push files
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.KEY }}